*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

/* Navbar */
body{
    width: 100% !important;
  

}

div.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.personal-btn{
    background-color: #3CBA79;
    border-radius: 100px;
    border: none;
    color: white;
    width: 134px;
    height: 40px;
    padding: 11px, 20px, 11px, 20px;
    font-size: 14px;
    font-weight: 600;
}

.personal-btn:hover{
    background-color:#0070F0;
}

ul.navbar-nav{
   margin-right:0px;
}

nav.navbar{
    width: 100% !important;
    background: linear-gradient(100%, #fffffffc, #cfbbbbec) !important;
    backdrop-filter: blur(15px) !important;
    
}
div.navbar-collapse{
    width: 100% !important;


}
.dropdown-menu{
   
   


}

.dropdown-item:hover{

}

a.nav-link{
    padding-right: 20px !important;
    font-weight: 600 !important;
    color: #000000 !important;
    font-size: 14px !important;
}

@media screen and (max-width: 991px){
    /* a.navbar-brand{
        display: inline-block !important;
        margin: auto;
        width: 40%;

    } */
}

@media screen and (max-width: 390px){
    /* a.navbar-brand img{
        display: inline-block !important;
       position: relative !important;
       left: 0px !important;

    } */
}


/* main */

header{
    padding-top: 70px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    /* flex-wrap: nowrap; */
    margin: auto;
    
    width: 100%;
}
.text{
    margin-left: 0px;
    padding-left: 0px;
}
.text h1{
    color: #1F284F;
    font-size: 50px;
    font-weight: bold;
    width: 440px;
    margin-right: 0;
}

.text p{
    width: 433px;
    font-size: 20px;
    font-weight: 400;
}

span.bold{
    font-weight: 700;
}
.rg-img{
    padding-right: 70px;
}

.rg-img, .hidden{
    width: 585px;
    height: 564px;
}

label{
    font-size: 16px;
    font-weight: 400;
    margin-right:20px ;
    margin-bottom: 20px;
}
button.header-btn{
    width:172px;
    height: 48px;
    font-size: 16px;
}


@media screen and (max-width: 1246px){
    .rg-img, .hidden{
        width: 450px;
        height: 450px;
    }

    .text h1{
        color: #1F284F;
        font-size: 40px;
        font-weight: bold;
        width: 440px;
        margin-right: 0;
    }

    .text p{
        width: 333px;
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width: 991px){
    .rg-img, .hidden{
        width: 320px;
        height: 320px;
    }

    .text h1{
       
        font-size: 35px;
      
        width: 440px;
       
    }

    .text p{
        width: 333px;
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width: 892px){
    
    .text h1{
        font-size: 30px;
    }   

    .text{
        width: 50%;
    }
}

@media screen and (max-width: 820px){
 body{
    max-width: 100%;
 }    
}

@media screen and (max-width: 768px){
    .hidden
    {
        visibility: hidden;
    }
    
    
    header{
        display: inline-block;
        padding-top: 70px;
    }
    
    .text{
        width: 68%;
        margin: auto;
    }
    
    a.navbar-brand img{
        width: 145px;
        height: 30px;
    }
    
    .text h1{
        color: #1F284F;
        font-size: 60px;
        font-weight: bold;
        width: 520px;
        margin-right: 0;
        text-align: center;
    }
    
    .text p{
        width: 522px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: auto;
    }

    /* span.bold{
        visibility: hidden;
    } */
    button.header-btn{
        width:343px;
        height: 48px;
        font-size: 16px;
        gap: 10px;
        margin-top: 20px;
    }

    div.radio{
        width: 522px;
        margin: auto;
        padding-left: 84px;
        margin-top: 20px;
    }

    label{
        font-size: 16px;
    }
    }
