*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

/* Navbar */
body{
    width: 100% !important;
  

}

div.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.personal-btn{
    background-color: #3CBA79;
    border-radius: 100px;
    border: none;
    color: white;
    width: 134px;
    height: 40px;
    padding: 11px, 20px, 11px, 20px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 10px;
}

.personal-btn:hover{
    background-color:#0070F0;
}

ul.navbar-nav{
   margin-right:0px;
}

nav.navbar{
    width: 100% !important;
    background: linear-gradient(100%, #fffffffc, #ffffff00) !important;
    backdrop-filter: blur(5px) !important;
    
}
div.navbar-collapse{
    width: 100% !important;


}
.dropdown-menu{
    border: 0px !important;
    background: linear-gradient(#98beebc0, #c6c7ce77) !important;
    border-radius: 35px;
}



a.nav-link{
    padding-right: 46px !important;
    font-weight: 600 !important;
    color: #000000 !important;
    font-size: 23px !important;
}

@media screen and (max-width: 1111px){
    a.nav-link{
        font-size: 18px !important;
    }
}




/* main */

header{
    padding-top: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    /* flex-wrap: nowrap; */
    margin: auto;
    background: linear-gradient(#98beebc0, #c6c7ce00);
    mask-repeat: no-repeat;
    
    width: 100%;
}
.text{
    margin-left: 0px;
    padding-left: 0px;
}
.text h1{
    color: #1F284F;
    font-size: 50px;
    font-weight: bold;
    width: 440px;
    margin-right: 0;
}

.text p{
    width: 433px;
    font-size: 20px;
    font-weight: 400;
}

span.bold{
    font-weight: 700;
}
.rg-img{
    padding-right: 70px;
}

.rg-img, .hidden{
    width: 585px;
    height: 564px;
}

label{
    font-size: 16px;
    font-weight: 400;
    margin-right:20px ;
    margin-bottom: 20px;
}
button.header-btn{
    width:172px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 20px;
}

.sponsors h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #1F284F;
    margin-top: 50px;
}

.sponsors{
    padding-bottom: 50px;
}

.sponsors-lg{
    margin:30px 30px 0px 30px ;
    height: 100%;
}

.sponsors-lg img{
    /* width:90px;
    float: left; */
}


article{
    background: #eff7fd;
    height: 100%;
}

.premium{
  width: 80%;
  margin: auto;
}
.premium h1{
    font-size: 40px;
    font-weight: 700;
    color: #1F284F;
    
}

ul.services{
    padding-top: 20px;
    list-style: none;
    display: flex;
    justify-self: ;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0px;
    /* padding-bottom: 20px; */
}

.services li{
    padding: 0px 6px 0px 0px;   
}

.services a{
    border: #c9c9c9 1.5px solid;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 24px 12px 24px;
    background: #ffffff;
    color: #000000;
    font-weight: 600;
}

.services a:hover{
    color: #3CBA79;
}

.premium h6{
    font-size: 14px;
    font-weight: 500;
    color: #0070F0E5;
    letter-spacing: 4px;
    padding-top: 40px ;
}

.premium a.active{
    background: #0070F0;
    color: #ffffff;
}

.premium a.active:hover{
    color: #b5ffd9;
}

p.bold{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    width: 84%;
    padding-bottom: 20px;
}

.premium p.lower{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 50px;
    line-height: 36px;
}

div.class{
    background-color: #ffffff;
    border-radius: 16px;
    width: 365px;
    height: 256px;
    padding: 58px;
    border: #e6e6e6 1px solid;
}

.profit{
    width: 103%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profit-text{
    font-size: 18px;
    font-weight: 400;
}

.class img{
    margin-bottom: 13px;
}

/* Media queries */

@media screen and (max-width: 2560px){
    .sponsors-lg{
        margin-left: 100px;
    }

    .sponsors h3{

        font-size: 50px;

    }

    .sponsors-lg img{
        width: 400px;
    }
}
@media screen and (max-width: 1920px){
    .sponsors-lg{
        margin-left: 150px;
    }
}


@media screen and (max-width: 1669px){
    .sponsors-lg{
        margin-left: 230px;
    }
}


@media screen and (max-width: 1528px){
    .sponsors-lg{
        margin-left:150px ;
    }


}

@media screen and (max-width: 1393px){
    .profit{

    }
    
    div.class{
        width: 300px;
        height: 230px;
        padding: 50px;
    }

    .profit-text{
        width: 102%;
        font-size: 14px;
    }

    .class img{
        width: 25px;
    }
}

@media screen and (max-width: 1246px){
    .rg-img, .hidden{
        width: 450px;
        height: 450px;
    }

    .text h1{
        color: #1F284F;
        font-size: 40px;
        font-weight: bold;
        width: 440px;
        margin-right: 0;
    }

    .text p{
        width: 333px;
        font-size: 15px;
        font-weight: 400;
    }

    .sponsors-lg{
        margin-left: 100px;
    }

    .sponsors-lg img{
        width: 200px;
    }

    .sponsors{font-size: 35px;}
}

@media screen and (max-width: 1195px){
    .sponsors h3{
        font-size: 34px;
    }

    .profit-text{
        font-size: 13px;
    }

    div.class{
        width: 250px;
        height: 200px;
        padding: 32px;
    }
}

@media screen and (max-width: 991px){
    .rg-img, .hidden{
        width: 320px;
        height: 320px;
    }

    .text h1{
       
        font-size: 35px;
      
        width: 440px;
       
    }

    .text p{
        width: 333px;
        font-size: 15px;
        font-weight: 400;
    }

    div.profit{
        flex-wrap: wrap;
        flex-direction: column;

    }

    div.class{
        width: 100%;
        margin-bottom: 35px;
    }

    .profit-text{
        font-size: 18px;
        width: 97%;
    }
}

@media screen and (max-width: 892px){
    
    .text h1{
        font-size: 30px;
    }   

    .text{
        width: 50%;
    }
}

@media screen and (max-width: 820px){
 body{
    max-width: 100%;
 }    
}

@media screen and (max-width: 768px){
    .hidden
    {
        display: none;
    }

    .rg-img{
        display: none;
    }
    
    
    header{
        display: inline-block;
        padding-top: 70px;
        /* max-width: 67%; */
        margin: auto;
        padding-right: 250px;
    }
    
    .text{
        width: 58%;
        margin: auto;  
    }
    
    a.navbar-brand img{
        width: 145px;
        height: 30px;
    }
    
    .text h1{
        color: #1F284F;
        font-size: 60px;
        font-weight: bold;
        width: 520px;
        margin-right: 0;
        text-align: center;
    }
    
    .text p{
        width: 522px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: auto;
    }

    /* span.bold{
        visibility: hidden;
    } */
    button.header-btn{
        width:520px;
        height: 48px;
        font-size: 16px;
        gap: 10px;
    }

    div.radio{
        width: 522px;
        margin: auto;
        padding-left: 84px;
        margin-top: 20px;
    }

    label{
        font-size: 16px;
    }

    .sponsors h3{
        font-size: 24px;
    }

    .sponsors-lg{
        margin-left: 85px;
    }

    .sponsors-lg img{
        width: 100px;
    }
}

@media screen and (max-width: 680px) {
    .text h1{
        font-size: 40px;
        width: 400px;
    }

    .text p{
        font-size: 15px;
        width: 400px;
    }

    div.radio{
        width: 450px;
        padding-left: 24px;
    }

    button.header-btn{
        width: 400px;
    }

    header{
        padding-right: 10px;
    }
}

@media screen and (max-width: 652px){
    p.bold{
       display: none;
    }

    ul.services{
        width: 108%;
        flex-wrap: wrap;
    }

    .services li{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 574px){
header{
    padding-right:150px ;    
}
}

@media screen and (max-width: 542px){

    .text h1{
        width: 300px;
    }

    .text p{
        width: 300px;
        font-size: 15px;
    }

    div.radio{
        width: 100px;
        padding-left: 0px;
        margin-top: 20px;
        margin-left: 10px;
        
    }

    button.header-btn{
        width: 300px;
    }

    .iii{
        width: 50%;
    }

    .jjj{
        margin: auto;
        width: 50%;
    }

    header{
        padding-right: 6px;
    }

    .sponsors-lg{
        margin-left: 120px;
    }
}

@media screen and (max-width: 481px){
    .premium h1{
        font-size: 36px;
    }

    .premium p.lower{
        font-size: 14px;
    }
}

@media screen and (max-width: 440px){
    header{
        padding-right: 100px;
    }


}

@media screen and (max-width: 426px){
    div.class{
        padding: 26px;
    }

    .profit-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 375px){
    header{

    }

    .text{
        width: 56%;
    }

    .text h1{
        width: 250px;
    }

    .text p{
        width: 250px;
    }

    button.header-btn{
        width: 250px;
    }

    .sponsors-lg{
        margin-left: 80px;
    }
    

    .premium h1{
        font-size: 28px;
    }

    .premium p.lower{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px){
    .text{
        width: 68%;
    }

    .sponsors h3{
        font-size: 20px;
    }

    .sponsors-lg{
        margin-left: 70px;
    }

    .premium h1{
        font-size: 27px;
    }
}
