body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

div.box-1{
    position: relative;
    /*width: 1440px;*/
    position: relative;
    width: 50%;
    height: 600px;
    background: linear-gradient(141.34deg, #F5F0FF 0%, #EFF6FE 50.36%, #EDFAF5 100%);
    top: 0px;
    bottom: 0px;
    align-items: center;
}

div.element-1{
    position: absolute;
    align-items: center;
    top: 230px;    
    left: 175px;
    width: 61%;
    height: 283.72px;
}

div.element-1 img.lg{
    width: 196px;
    height: 34px;
}

div.element-1 img.cr{
    width: 172.11px;
    height: 23.26px;
    position: absolute;
    left: 120px;
}

div.element-1 h5{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #17181A;
}

div.element-1 span.loginPage{
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}

form{
    position: absolute;
    top: 125px;
    left: 899px;
}

form h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
}
 form div.loginForm{
    display: flexbox;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 150px;
 }

 form div.loginForm label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #515458;
 }

 form div.loginForm input{
    width: 364px;
    height: 40px;
    border-radius: 8px;
    border-color: #969798bf;
    box-sizing: border-box;
    border-width:1px ;
    padding: 20px;
   
 }

 form div.loginForm a{
    text-decoration: none;
    color:#1F284F;
 }

 form div.loginForm h1{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
 }

 form div.loginForm button{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 364px;
    height: 40px;
    background: rgba(0, 112, 240, 0.9);
    border: 1px solid rgba(0, 112, 240, 0.9);
    border-radius: 30px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}

form p{
    position: relative;
    right: 120px;
    font-size: 14px;
    font-weight: 300;
}

form p span{
    font-weight: 600;
}

form p a{
    text-decoration: none;
    color: #17181A;
}